/* Nav style starts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0 ;
    padding: 0;
    font-family: Open Sans;
}
/* shared style  */
.open-sans-normal {
  font-family: Open Sans, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.Dark-2{
    color: rgb(71, 71, 71);
}
.text-center{
    text-align: center;
}
.btn-primary{
    border: none;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    
}
.section-title{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 40px;
}
.section-des{
    font-size: 18px;
    color: rgb(117, 117, 117);

}
.secondary-bg{
   background-color:  rgb(255, 248, 243);
}
.Header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-position: bottom left,bottom right;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px  200px;
    padding:20px;
}
nav ul{
    display: flex;
    justify-content:center ;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px ;
}
nav li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px 0px;
}

.text-primary{
    color: #FD6E0A;
}
.Nav-title{
    font-weight: 800;
    font-size: 45px;
}
.banner-content p{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 20px 0px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    gap: 30px;
    max-width: 580px;
}
.banner-greetings{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.banner-title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-profile-pic{
    width: 580px;
}
main{
    max-width: 1140px;
    margin: 100px auto;
}
.about{
    
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
}
.about-items{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 700;
}
.item-description{
    font-weight: 600;
}
.skill-container{
    margin-top:50px ;
    display: flex;
    justify-content: space-between;
}


.skil{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 267px;
    max-height: 500px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 6px 50px 0px rgb(219, 214, 214);
    background: rgb(255, 255, 255);
}
.skil img{
    padding: 30px 193px 0px 30px;
}
.des{display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;
}
.skill-title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}
.skill-des{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.resume-container{
    display: flex;
    gap: 36px;
   
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.resume-column-title{
    padding: 20px;
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
line-height: 41px;
letter-spacing: 0%;
text-align: left;
}
.experience-title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}
.experience-sub-title{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;  
    margin-bottom: 20px;
}
.experience-description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.section-title {
    margin-bottom:30px ;
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;

}
.section-desc{
    margin-bottom: 20px;
    color: rgb(71, 71, 71);

}
.button-cv{
   text-align: center;
   margin:50px;
}
footer{
    display: flex;
    gap: 100px;    
    padding: 130px 230px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"] ,
footer input[type="email"] , footer textarea
{
    font-size: 16px;
    display: block;
    border: none;
    width: 100%;
    height: 54px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    margin-bottom: 24px;
}

.btn-1{
 width: 180px;
}
.btn-2{
  
    margin-left: 20px;
} 

@media screen and (max-width:576px) {
    .skill-container,.resume-container,.secondary-bg,.banner,nav ,ul {
      
       gap: 10px;     
       flex-direction: column;
    }
    .skil{
     margin: auto;
       width: 100%;
    }
    footer , .about{
       padding: 20px;
    }
    .footer-column{
        width: 100%;
     
    }
    footer input[type="text"] ,
    footer input[type="email"] , footer textarea{
        width: calc( 100% - 40px);

    }
    .about-items{
        gap: 20px;
        flex-direction: column;
    }
    .Header{
       background-image: none;
    }
    .banner{
        margin: 20px;
    }
    .banner-profile-pic{
        width: 100%;
    }
    .banner-title{
        font-size: 60px;
    }
   nav > ul{
    gap: 10px;
   }
}

@media screen and (min-width:576px) and (max-width:992px) {
    
}